{
  "presets": [
    "my-awesome-preset"
  ],
  "plugins": [
    "transform-runtime",
    "transform-es2015-classes",
    ["a", {
      "options1":  true,
      "options2":  true
    }],
    "b"
  ],
  "env": {
    "development": {
      "plugins": []
    },
    "production": []
  }
}